body{background-color: aqua;}


h1{color: blue;
text-shadow: 10px 10px 10px red;
background-color: beige;
text-decoration: underline;
font-family: cursive;
box-shadow: 10px 10px 10px yellowgreen;}

img{width: 500px;
height: 500px; border-style: dotted;
border-color: black;border-radius: 99px;
border-width: 9px; border-color: yellow;
box-shadow: 9px 9px 15px;}